<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<dom-module id="header-element">
  <template>
    <style>
      :host {
        display: block;
      }
      .header-element {
        align-items: center;
        display: flex;
        justify-content: space-between;
        @apply --header-element;
      }
      .header-element-title {
        @apply --header-element-title;
      }
      .header-element-icon {
        @apply --header-element-icon;
      }
      .header-element-avatar {
        @apply --header-element-avatar;
      }
    </style>
    <div class="header-element">
      <img class="header-element-avatar" name="avatar" src=[[avatar]] on-click="handleEvent"></img>
      <h3 class="header-element-title" name="title" on-click="handleEvent">[[title]]</h3>
      <iron-icon class="header-element-icon" name="icon" icon=[[icon]] on-click="handleEvent"></iron-icon>
    </div>
  </template>

  <script>
    /**
     * `header-element`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeaderElement extends Polymer.Element {
      static get is() { return 'header-element'; }
      static get properties() {
        return {
          title: {
            type: String,
            value: ''
          },
          icon: {
            type: String,
            value: ''
          },
          avatar: {
            type: String,
            value: ''
          },
          eventConfig: {
            type: Object,
            value: {}
          }
        };
      }
      handleEvent(e) {
        const nameConfig = e.target.getAttribute('name');
        this.fireEvent(this.eventConfig[nameConfig]);
      }

      fireEvent(eventName) {
        this.dispatchEvent(
          new CustomEvent(eventName)
        );
      }
    }

    window.customElements.define(HeaderElement.is, HeaderElement);
  </script>
</dom-module>
